*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: grey;
    background-image: linear-gradient(to right, rgb(21, 37, 37) , rgb(58, 92, 245));
}