.anicrdcont{
    margin: 12px;
}

.anicrdppr{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}

.anicrdppr:hover{
    background-color: rgb(39, 39, 39);
    color: white;
}
